<h1>Store Index</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @stores.each do |store| %>
        <td><%= store.id %></td>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
    </tr>
    <% end %>
  </tbody>
</table>
