<h1><%= @store.name %>'s reports</h1>

<%= link_to "Attendance by Day", store_reports_att_by_day_path(@store.id), class: 'btn btn-primary'  %>
<%# <%= link_to "Average time employees checked in/out by month",  %>
<%# <%= link_to "Absence report by month",  %>
