<div class="container m-5">

    <h1>Generate Reports</h1>

    <div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Daily attendance report per employee and store</a></li>
        <li><a class="dropdown-item" href="#">Monthly report of average hours workrd by employee</a></li>
        <li><a class="dropdown-item" href="#">Monthly report of absence per employee</a></li>
    </ul>
    </div>


</div>
